DATABASE_URL=jdbc:postgresql://TU_HOST_SUPABASE:5432/postgres?sslmode=require
DATABASE_USERNAME=postgres.TU_PROJECT_REF
DATABASE_PASSWORD=TU_PASSWORD_SUPABASE
JWT_SECRET=pon_aqui_una_clave_larga_de_minimo_32_caracteres
